<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [1]:
# Nama
#a.
print ("Hello, my name is Edward Suwandi")

#b
nama = "Hello, my name is Edward Suwandi"
print(nama)

#c
nama2 = "Edward Suwandi"
print("Hello, my name is " + nama2)

#d
nama3 = "Edward Suwandi"
print("Hello, my name is {}".format(nama3))

Hello, my name is Edward Suwandi
Hello, my name is Edward Suwandi
Hello, my name is Edward Suwandi
Hello, my name is Edward Suwandi

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [2]:
# Soal a
Kotak = 4
Isi = 15

Jumlah = Kotak*Isi

teman = 12

perOrang = Jumlah / teman
print(perOrang)

# Soal b
print(8**(1/3))

# Soal c
uang = 50000
harga = 7500

kertas = uang//harga
kembalian = uang%harga
print(kertas)
print(kembalian)

5.0
2.0
6
5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [3]:
# Konversi
#1
awal = "1000"
akhir = int(awal)

#2
awal2 = 5.25
akhir2 = int(awal2)

#3
awal3 = 5
akhir3 = float(awal3)

#4
awal4 = 1000
akhir4 = str(awal4)

print(akhir)
print(akhir2)
print(akhir3)
print(akhir4)

1000
5
5.0
1000

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [4]:
kalimat = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

# 1
hasil = kalimat[20:31]
print(hasil)

# 2
hasil2 = kalimat.split()
print(hasil2)

# 3
hasil3 = kalimat[::-1]
print(hasil3)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [5]:
# Fakultas
#1
fakultas = ("Fakultas1", "Fakultas2", "Fakultas3", "Fakultas4", "Fakultas5", "Fakultas6", "Fakultas7", "Fakultas8", "Fakultas9", "SIFT")

#2
print(len(fakultas))

#3
index = fakultas.index("SIFT")
print(index)

10
9

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [6]:
# 1
favorit = ["tahu", "tempe", "telur"]

# 2
for makanan in favorit:
  print(makanan)

# 3
for makan in favorit:
  print (f"Aku ingin pesan {makan}")

# 4
favorit[2] = "tuna"
print(f"Aku ingin mengganti pesananku jadi {favorit[2]}")

tahu
tempe
telur
Aku ingin pesan tahu
Aku ingin pesan tempe
Aku ingin pesan telur
Aku ingin mengganti pesananku jadi tuna

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [7]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2
gabungan = set1.union(set2)
print(gabungan)

# 3
intersection = set1.intersection(set3)
print(len(intersection) == 0)

# 4
no4 = set4.issubset(set1)
print(no4)

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [8]:
# Program Bayar Listrik

while True:
  inputs = input("Input jumlah penggunaan listrik (kWh) ")

  if not inputs.isdigit():
    print("Input angka boss")

  else:
    inputan = int(inputs)
    if inputan < 100:
      inputan = 100

    if inputan < 1000:
      hasil = inputan *1000
    else:
      hasil = inputan*2000 + (inputan*2000)/10

    print(hasil)
    break

Input jumlah penggunaan listrik (kWh) 2000
4400000.0

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [9]:
# Program Angkot Abdimas UC
# while True:
#   user_input = input("Input jumlah orang: ")



#   if input < 0:
#     print("Jumlah orang tidak bisa negatif")
#   else:

#     if inputs % 10 == 0:
#       hasil = inputs//10
#     else:
#       hasil = inputs//10 + 1

#     print(hasil)

while True:
  inputs = input("Input jumlah orang: ")

  if not inputs.isdigit():
    print("Input angka boss")

  else:
    inputan = int(inputs)
    if inputan < 0:
     print("Jumlah orang tidak bisa negatif")
    else:

      if inputan % 10 == 0:
        hasil = inputan//10
      else:
       hasil = inputan//10 + 1
      print(hasil)

Input jumlah orang: 12
2

KeyboardInterrupt: Interrupted by user

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [10]:
import numpy as np

# 1
hari = ["senin", "selasa", "rabu", "kamis", "jumat", "sabtu", "minggu"]

In [11]:
# 2
hari = ["senin", "selasa", "rabu", "kamis", "jumat", "sabtu", "minggu"]
hari2 = sorted(hari)
print(hari2)

['jumat', 'kamis', 'minggu', 'rabu', 'sabtu', 'selasa', 'senin']

In [12]:
# 3
hari = ["senin", "selasa", "rabu", "kamis", "jumat", "sabtu", "minggu"]
random = np.random.choice(hari)
print("Random day :", random)

Random day : jumat

In [13]:
# 4
matriks = np.random.randint(1, 7, size=(3, 4))
print(matriks)

[[1 6 4 6]
 [2 2 4 1]
 [3 5 5 3]]

In [ ]:
# 5
matriks = np.array([[1, 2, 3, 4],
                    [5, 6, 7, 8],
                    [9, 10, 11, 12]])

# Mencetak elemen kolom ketiga (indeks 2)
kolom_ketiga = matriks[:, 2]
print("Elemen kolom ketiga:", kolom_ketiga)

In [ ]:
# 6
matriks = np.array([[1, 2, 3, 4],
                    [5, 6, 7, 8],
                    [9, 10, 11, 12]])

# Mengubah ukuran matriks menjadi (2, 6)
matriks_reshaped = matriks.reshape(2, 6)

# Mencetak matriks yang telah diubah
print("Matriks setelah reshape (2, 6):")
print(matriks_reshaped)

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [14]:
import pandas as pd

# 1
data = ["Information", "Systems", "for", "Business"]
series = pd.Series(data)
print(series)

# 2
data2 = {"brand": "Ford", "model": "Mustang", "year": 1964}
dataframe = pd.DataFrame([data2])
print(dataframe)

0    Information
1        Systems
2            for
3       Business
dtype: object
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [ ]:
# 3
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls')

df.head(5)

In [ ]:
# 4
city = df["State"].unique()
print(city)

In [ ]:
# 5
sample = df.sample(n=10)

sample.head(5)

In [ ]:
# 6
df.info()

In [ ]:
# 7
california_data = df[df['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print(california_data)

In [ ]:
# 8
missing_values = df.isnull().sum()
print(missing_values)

In [ ]:
# 9
filtered = df[df['Profit'] >= 50000]
print(filtered.head())

In [ ]:
# 10
sorted_df = df.sort_values(by='Marketing Spend', ascending=True)
print(sorted_df.head())

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [15]:
# 1
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv"
df = pd.read_csv(url)

In [16]:
# 2
df.head(10)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
5,6,2012.667,7.1,2175.03000,3,24.96305,121.51254,32.1
6,7,2012.667,34.5,623.47310,7,24.97933,121.53642,40.3
7,8,2013.417,20.3,287.60250,6,24.98042,121.54228,46.7
8,9,2013.500,31.7,5512.03800,1,24.95095,121.48458,18.8
9,10,2013.417,17.9,1783.18000,3,24.96731,121.51486,22.1

In [17]:
# 3
df.describe()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [18]:
# 4
df = df.drop(columns=['No'])
df.columns = [
    'transaction_date',
    'house_age',
    'distance_to_the_nearest_MRT_station',
    'number_of_convinience_stores',
    'latitude',
    'longitude',
    'house_price_of_unit_area'
]

df.head(10)

,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convinience_stores,latitude,longitude,house_price_of_unit_area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
5,2012.667,7.1,2175.03000,3,24.96305,121.51254,32.1
6,2012.667,34.5,623.47310,7,24.97933,121.53642,40.3
7,2013.417,20.3,287.60250,6,24.98042,121.54228,46.7
8,2013.500,31.7,5512.03800,1,24.95095,121.48458,18.8
9,2013.417,17.9,1783.18000,3,24.96731,121.51486,22.1

In [19]:
# 5
missing_values = df.isnull().sum()
print(missing_values)

transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convinience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64